table {
  width: 95%;
  margin-left: 2.5%;
  text-align: center;
  text-transform: capitalize;
}

th.mat-sort-header-sorted {
  color: black;
  justify-content: center;
}

mat-paginator {
  width: 95%;
  margin-left: 2.5%;
}

.area-table {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  .add-btn {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 15px;
  }
}

.card-title {
  margin-left: 10px;
}

.modal-header {
  color: #fff;
}
.bg-info {
  background-color: #17a2b8 !important;
}

.form-group {
  display: flex;
  margin-bottom: 10px;
  padding-right: 50px;
}

.form-control {
  border-radius: 0;
}

.label-align {
  text-align: right;
  padding-right: 20px;
}

.input-control {
  margin-top: 30px;
  margin-bottom: 20px;
}

.input-area {
  width: 500px;
}

.full-width {
  width: 100%;
  letter-spacing: 0.5px;
}
.tgp {
  margin-left: 20px;
}
.npt {
  width: 300px;
  margin-right: 20px;
}

.jb {
  width: 250px;
  margin-right: 20px;
}

.jmb {
  width: 250px;
}

@media screen and (max-width: 575px) {
  .input-area {
    width: 250px;
  }

  .tgp {
    margin-left: 0px;
  }

  .npt,
  .jb,
  .jmb {
    width: 225px;
    margin-right: 0;
  }

  .full-width {
    width: 225px;
  }
}
