<div class="area-table mt-5">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title float-start mt-4">Data Buku Perpustakaan</h2>
      <button
        type="button"
        class="btn btn-primary add-btn float-end"
        (click)="openModal()"
      >
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <div class="card-body">
      <div style="overflow: auto">
        <table
          mat-table
          [dataSource]="dataBuku"
          matSort
          class="mat-elevation-z1"
        >
          <!-- Position Column -->
          <ng-container matColumnDef="regist">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              No Registrasi
            </th>
            <td mat-cell *matCellDef="let buku">{{ buku.id }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="judul">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Judul Buku
            </th>
            <td mat-cell *matCellDef="let buku">
              {{ buku.judul }}
            </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="tampilJenis">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Jenis Buku
            </th>
            <td mat-cell *matCellDef="let buku">
              {{ buku.tampilJenis }} {{ buku.kelas }}
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="penerbit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Nama Penerbit
            </th>
            <td mat-cell *matCellDef="let buku">{{ buku.penerbit }}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef style="text-align: center">
              Action
            </th>
            <td mat-cell *matCellDef="let row">
              <button
                mat-icon-button
                color="primary"
                [routerLink]="['../detailbuku', row.id]"
              >
                <mat-icon>visibility</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 25]"
          [pageSize]="5"
          showFirstLastButton
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
