<div class="area-table mt-5">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title float-start mt-4">Data Pegawai</h2>
      <button
        type="button"
        class="btn btn-primary add-btn float-end"
        (click)="openModal()"
      >
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <div class="card-body">
      <div style="overflow: auto">
        <table
          mat-table
          [dataSource]="dataUsers"
          matSort
          matSortActive="id"
          matSortDirection="asc"
          class="mat-elevation-z1"
        >
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="id">
              User ID
            </th>
            <td mat-cell *matCellDef="let user">{{ user.id }}</td>
          </ng-container>

          <ng-container matColumnDef="nama">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Nama Lengkap
            </th>
            <td mat-cell *matCellDef="let user">{{ user.nama }}</td>
          </ng-container>

          <ng-container matColumnDef="jenisKelamin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Jenis Kelamin
            </th>
            <td mat-cell *matCellDef="let user">{{ user.jenisKelamin }}</td>
          </ng-container>

          <ng-container matColumnDef="umur">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Usia</th>
            <td mat-cell *matCellDef="let user">{{ user.umur }}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef style="text-align: center">
              Action
            </th>
            <td mat-cell *matCellDef="let row">
              <button
                mat-icon-button
                color="primary"
                [routerLink]="['../detailuser', row.id]"
              >
                <mat-icon>visibility</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 25]"
          [pageSize]="5"
          showFirstLastButton
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
