<h2 mat-dialog-title>Yakin Ingin Logout ?</h2>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    (click)="logOut()"
  >
    Logout
  </button>
</mat-dialog-actions>
