.details-area {
  width: 50%;
  margin: auto;
}

@media screen and (max-width: 575px) {
  .details-area {
    width: 92.5%;
  }
}

.form-group {
  display: flex;
  margin-bottom: 10px;
}

.form-control {
  border-radius: 0;
}

.label-align {
  text-align: right;
  padding-right: 20px;
}

.input-control {
  margin-top: 30px;
  margin-bottom: 20px;
}

.input-area {
  width: 500px;
}

.full-width {
  width: 100%;
  letter-spacing: 0.5px;
}
